<!DOCTYPE html>
<html>
<head>
  <title>ShirtStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar brand: "T-Geek", brand_link: root_url %>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
